<p id="notice"><%= notice %></p>

<p>
  <strong>Columna1:</strong>
  <%= @cualquiera.columna1 %>
</p>

<%= link_to 'Edit', edit_cualquiera_path(@cualquiera) %> |
<%= link_to 'Back', cualquieras_path %>
